$icons-font: "icons";

@import './scss_fontSrc.scss';

$icons-map: (
    "alpha-lc": "\f101",
    "beta-lc": "\f102",
    "chi-lc": "\f103",
    "delta-lc": "\f104",
    "epsilon-lc": "\f105",
    "eta-lc": "\f106",
    "gamma-lc": "\f107",
    "kappa-lc": "\f108",
    "lambda-lc": "\f109",
    "lota-lc": "\f10a",
    "mu-lc": "\f10b",
    "nu-lc": "\f10c",
    "omega-lc": "\f10d",
    "omicron-lc": "\f10e",
    "phi-lc": "\f10f",
    "pi-lc": "\f110",
    "psi-lc": "\f111",
    "rho-lc": "\f112",
    "sigma-lc": "\f113",
    "t": "\f114",
    "tau-lc": "\f115",
    "theta-lc": "\f116",
    "upsilon-lc": "\f117",
    "xi-lc": "\f118",
    "zeta-lc": "\f119",
);

$icon-alpha-lc: "\f101";
$icon-beta-lc: "\f102";
$icon-chi-lc: "\f103";
$icon-delta-lc: "\f104";
$icon-epsilon-lc: "\f105";
$icon-eta-lc: "\f106";
$icon-gamma-lc: "\f107";
$icon-kappa-lc: "\f108";
$icon-lambda-lc: "\f109";
$icon-lota-lc: "\f10a";
$icon-mu-lc: "\f10b";
$icon-nu-lc: "\f10c";
$icon-omega-lc: "\f10d";
$icon-omicron-lc: "\f10e";
$icon-phi-lc: "\f10f";
$icon-pi-lc: "\f110";
$icon-psi-lc: "\f111";
$icon-rho-lc: "\f112";
$icon-sigma-lc: "\f113";
$icon-t: "\f114";
$icon-tau-lc: "\f115";
$icon-theta-lc: "\f116";
$icon-upsilon-lc: "\f117";
$icon-xi-lc: "\f118";
$icon-zeta-lc: "\f119";

